

body {
    background-color: #202a01;
    color: #d3adad;
    
}

@media only screen and (max-width: 768px) {

body {
    background-color: #566f00;
    color: #d3adad;
    font-size: 20px;
}

} */

@media only screen and (max-width: 320px) {

    body {
        background-color: #566f00;
        color: #d3adad;
        font-size: 20px;
    }
    
    }
body {
    background-color: #566f00;
    color: #d3adad;
    
} */



section {
    background-color: #1b0736;
    padding: 21px;
    margin-bottom: 10px;
    border-radius: 30px;
    border: 5px solid rgb(8, 58, 68);
    margin-bottom: 25px;
    margin: 10px;
}



a {
    color: #b7ea00;
}




h1 {
    font-size: 5rem;
    width:61%;
}





header, footer {

    color: #c75f5f;
    background-color: #005d6f;
    font-size: 2rem;
    border: solid 5px #003f4b;
    display: flex;
    justify-content: center;
    align-items: center;
}



img {
    border: solid 2px rgb(8, 58, 68);
    width: 400px;
    padding: 30px;
    border-radius: 90px;
}

.fbutton {
    margin: auto;
    width: 20%;
    border: solid 3px rgb(8, 58, 68);
    padding: 20px;
    color: red;
    background-color: rgb(29, 29, 93);
    border-radius: 30px;
}

