body {
  margin: 0;
  background-color: #566f00;
  color: #d3adad;
}

section {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  background-color: #1b0736;
  padding: 21px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 5px solid rgb(8, 58, 68);
  display: block;
}

section:hover {
  background-color: #a3129b;
  color: rgb(233, 233, 244);
}

a {
  color: #b7ea00;
}

h1 {
  color: rgb(44, 44, 202);
  font-style: italic;
  font-size: 3rem;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
  text-align: center;
}

h1:hover {
  background-color: #ea22b5;
  color: rgb(164, 45, 45);
}

/* .hov {
   width: 100%;
   position: relative;
   left: 20px;

} */


img {
  border: solid 3px rgb(8, 58, 68);
  width: 350px;
  padding: 30px;
  border-radius: 90px;
  margin-bottom: 80px;
  position: relative;
  left: 6%;

}

#pic1 img {
  -webkit-filter: sepia(100%);
  filter: sepia(100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
#pic1 img:hover {
  -webkit-filter: sepia(0);
  filter: sepia(0);
}


.draw-border {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  box-shadow: inset 0 0 0 4px #c14dbd;
  color: #58afd1;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}
.draw-border::before,
.draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}

a:link {
  text-decoration: none;
}

.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}
.draw-border:hover {
  color: #ffe593;
}
.draw-border:hover::before,
.draw-border:hover::after {
  border-color: #ffe593;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.draw-border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem "Roboto Slab", sans-serif;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
}
.btn:focus {
  outline: 2px dotted #55d7dc;
}

header,
footer {
  color: #ecad0f;
  background-color: #005d6f;
  font-size: 2rem;
  border: solid 5px #003f4b;
  display: flex;
  justify-content: center;
  align-items: center;
}
